@import "//fonts.googleapis.com/css?family=Varela+Round";

// @import "../bower/bootstrap/less/bootstrap";
// @icon-font-path: "../fonts/bootstrap/";
// @font-family-sans-serif: "Varela Round", Helvetica, Arial, sans-serif;

// @border-radius-base: 2px;
// @border-radius-large: 3px;
// @border-radius-small: 1px;

@import "../bower/fontawesome/less/font-awesome";
@fa-font-path: "../fonts/fontawesome/";

// @import "downloaded/bootstrap-chosen/chosen";

body {
    cursor: default;
}
.checkbox label {
    font-weight: bold;
}
